* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
    color: #C3C4C5;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2E2F2F;
}

button, input[type="submit"], input[type="reset"] {
    position: relative;
    background: #F4AA27;

    padding: 8px 23px;
    margin-bottom: 4px;
    border: 0 none;
    border-radius: 4px;
    outline: none;

    -webkit-box-shadow: 0 4px 0 0 #EB8921;
    -moz-box-shadow: 0 4px 0 0 #EB8921;
    box-shadow: 0 4px 0 0 #EB8921;

    color: #35271a;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;

    -webkit-transition: background-color .13s, opacity .13s;
    -moz-transition: background-color .13s, opacity .13s;
    -ms-transition: background-color .13s, opacity .13s;
    -o-transition: background-color .13s, opacity .13s;
    transition: background-color .13s, opacity .13s;
}

button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled
 {
    background: #F4AA27 !important;
    filter: alpha(opacity=33) !important;
    opacity: 0.33 !important;
    cursor: default;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    background-color: #F19D25;
}


button:active, input[type="submit"]:active, input[type="reset"]:active,
button:active:hover, input[type="submit"]:active:hover, input[type="reset"]:active:hover {
    background-color: #EB8921;

}

input[type="text"], input[type="password"] {
    padding: 5px;
    height: 30px;
    outline-color: #F4AA27;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, .15);
    background-color: #242525;
    font-size: 14px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
    color: #7a7b7b;
}

::placeholder {
  color: #727373;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.invis {
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
}

#dim-ovr {
    position: absolute;
    background-color: #000000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 95;
}

.center
{
    text-align: center;
}

.dtxt {
    color: #7B7C7D;
}

.txtbx_err {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
    box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
}