h1 {
    margin-bottom: 50px;
    font-size: 48px;
}

#dd {
    background: #86c232;
    background: -moz-linear-gradient(top, #F4AA27 0%, #F4AA27 55%, #EB8921 55.1%, #EB8921 100%);
    background: -webkit-linear-gradient(top, #F4AA27 0%,#F4AA27 55%,#EB8921 55.1%,#EB8921 100%);
    background: linear-gradient(to bottom, #F4AA27 0%,#F4AA27 55%,#EB8921 55.1%,#EB8921 100%);
    color: #000000;
    height: 40px;
    padding: 2px 6px;
}

#setup-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2E2F2F;
    z-index: 90;
}

#setup-cont {
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-63%);
}

#setup1 {
    width: 600px;
    margin: auto;
}

#btn1 {
    margin: 100px;
}

#pk {
    margin: 20px 0;
    width: 540px;
}

#main {
    width: 100%;
    height: 100%;
}


#pane-groups {
    display: inline-block;
    width: 64px;
    height: 100%;
    padding: 4px 4px;
    background-color: #242525;
}